<a href = '/'>
<img src="{{url_for('static', filename='logo2.png')}}" style="padding-left:10px" ></a>
<h3 class="text-center" >You might like to visit!!!</h3>

<html>
    <head>
        <title>Trekommender</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/1cfb8d6c79.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
        <style>
           
            h3,p,h4,h6{
                font-family: 'Cormorant Garamond', serif;
            }
            
        </style>

            <div class="container">
                    {% for i in range (0,6) %}    
                        <h2>{{ cities[i]}}</h2>
                        <h4>{{countries[i]}}</h4>
                        
                        <div class="row">
                            <div class="col-4">
                                <p>
                                    <img src= {{imgs[i]}} alt = "{{ cities[i]}}" style="width: 100%" > 
                                </p>
                            </div>

                            <div class = "col-8" >

                                <h4> Sights and activities:
                                    {% for j in sights[i] %}
                                    <h6>
                                         * {{j}}
                                    </h6>
                                    {% endfor %}
                                </h4>
                            </div>
                        
                        </div>    
                        <p>{{ results[i] }}</p>
                        <h4> Best time to visit</h4>
                        <p>{{ bts[i] }}</p>
                    {% endfor %}
            </div>

    
    </head>
    


<form action="/sim_city" action = 'POST' >
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <h3 class="text-center"> Didn't find what you are looking for...</h3>
                <h3> Tell us your previous places of visit. We can suggest similar destinations.</h3>
                <input name="place1" type="text" class="form-control" id="exampleFormControlInput1" placeholder="I visited" required>
                <button class="btn btn-primary" type="submit" >Let us suggest!!</button>
            </div>

    
</form>
<form action="/"> 
    <div class="d-grid gap-4 col-6 mx-auto">
    <button type="submit" class="btn btn-outline-primary" > Reset search </button>
    </div>
</form>

</html>
